body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  .container p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: crimson;
    background-color: rgb(34, 29, 27);
    padding: 50px 100px;

  }
  
  /* Style the button and place it in the middle of the container/image */
  .container #rzp-button1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(107, 87, 80);
    color: white;
    font-size: 16px;
    padding: 50px 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container #rzp-button1:hover {
    background-color: crimson;
  }
  * {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #eb8d41a8;
  padding: 20px 10px;
}

.header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(219, 72, 72);
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  
  .header-right {
    float: none;
  }
}
  